.promo-block {
                  background-image: url({% static 'images/slider.png' %}");
                  background-size: contain;
                  background-position: center center;
                  background-repeat: no-repeat;
                  height: 100%;
                }