html, body {
	margin: 0;
	height: 400px;
	font-size: 10px;
}

body {
	background: #FFFFFF;

}

.item {
	font-family: 'Open Sans Condensed';
}

h1 {
	color: #E4E4E4;
	font-size: 2.6em;
	position: absolute;
	text-align: center;
	left: 0;
	top: 0;
	width: 100%;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

p {
	color: #999;
	font-family: 'Ubuntu Condensed';
	font-size: 1.4em;
	position: fixed;
	text-align: center;
	left: 0;
	bottom: 0;
	width: 100%;
}

a {
	color: #999;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: none;
}

.sky {
	/*margin-top: 60px;*/
	height: 300px;
	background: #007fd5;
	position: relative;
	overflow: hidden;
	-webkit-animation: sky_background 50s ease-out infinite;
	-moz-animation: sky_background 50s ease-out infinite;
	-o-animation: sky_background 50s ease-out infinite;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0)

	/*position: fixed; /* Фиксированное положение */
  /*right: 10px; /* Расстояние от правого края окна браузера */
  /*top: 5%;*/
}

.moon {
	background: url("../images/moon.png");
	background-size: 30% auto;
	position: absolute;
	left: 0;
	height: 100%;
	width: 300%;
	-webkit-animation: moon 50s linear infinite;
	-moz-animation: moon 50s linear infinite;
	-o-animation: moon 50s linear infinite;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0)
}

.clouds_one {
	background: url("../images/cloud_one.png");
	background-size: 30% auto;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 300%;
	-webkit-animation: cloud_one 50s linear infinite;
	-moz-animation: cloud_one 50s linear infinite;
	-o-animation: cloud_one 50s linear infinite;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0)
}

.clouds_two {
	background: url("../images/cloud_two.png");
	background-size: 30% auto;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 300%;
	-webkit-animation: cloud_two 75s linear infinite;
	-moz-animation: cloud_two 75s linear infinite;
	-o-animation: cloud_two 75s linear infinite;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0)
}

.clouds_three {
	background: url("../images/cloud_three.png");
	background-size: 30% auto;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 300%;
	-webkit-animation: cloud_three 100s linear infinite;
	-moz-animation: cloud_three 100s linear infinite;
	-o-animation: cloud_three 100s linear infinite;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0)
}

@-webkit-keyframes sky_background {
	0% {
		background: #007fd5;
		color: #007fd5
	}
	50% {
		background: #000;
		color: #a3d9ff
	}
	100% {
		background: #007fd5;
		color: #007fd5
	}
}

@-webkit-keyframes moon {
	0% {
		opacity: 0;
		left: -200% -moz-transform: scale(0.5);
		-webkit-transform: scale(0.5);
	}
	50% {
		opacity: 1;
		-moz-transform: scale(1);
		left: 0% bottom: 125px;
		-webkit-transform: scale(1);
	}
	100% {
		opacity: 0;
		bottom: 250px;
		-moz-transform: scale(0.5);
		-webkit-transform: scale(0.5);
	}
}

@-webkit-keyframes cloud_one {
	0% {
		left: 0
	}
	100% {
		left: -200%
	}
}

@-webkit-keyframes cloud_two {
	0% {
		left: 0
	}
	100% {
		left: -200%
	}
}

@-webkit-keyframes cloud_three {
	0% {
		left: 0
	}
	100% {
		left: -200%
	}
}

@-moz-keyframes sky_background {
	0% {
		background: #007fd5;
		color: #007fd5
	}
	50% {
		background: #000;
		color: #a3d9ff
	}
	100% {
		background: #007fd5;
		color: #007fd5
	}
}

@-moz-keyframes moon {
	0% {
		opacity: 0;
		left: -200% -moz-transform: scale(0.5);
		-webkit-transform: scale(0.5);
	}
	50% {
		opacity: 1;
		-moz-transform: scale(1);
		left: 0% bottom: 250px;
		-webkit-transform: scale(1);
	}
	100% {
		opacity: 0;
		bottom: 500px;
		-moz-transform: scale(0.5);
		-webkit-transform: scale(0.5);
	}
}

@-moz-keyframes cloud_one {
	0% {
		left: 0
	}
	100% {
		left: -200%
	}
}

@-moz-keyframes cloud_two {
	0% {
		left: 0
	}
	100% {
		left: -200%
	}
}

@-moz-keyframes cloud_three {
	0% {
		left: 0
	}
	100% {
		left: -200%
	}
}

body {
	/*background: #E4E4E4;

}