{% extends 'main/base.html' %}

{% block new %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}

        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                                {% if post.image %}
                                <img class="img-responsive" src="{{ post.image.url }}" alt="Latest Products Image" width="500" >
                                {% endif %}
                            </div>
        {% if user.is_authenticated %}
             <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}